body {
  background-color: #384d54 !important;
}

h1 {
  text-align: center;
}

.carousel-indicators {
  margin-top: 50px;
}

#search {
    margin-top: 50px;
}

.bg-light-dark {
  background-color: #2e3f45;
}

.text-light-white {
  color: #e5e5e5;
}