body {
  background-color: #384d54 !important;
}

h1 {
  text-align: center;
}

.carousel-indicators {
  margin-top: 50px;
}

#search {
    margin-top: 50px;
}

.bg-light-dark {
  background-color: #2e3f45;
}

.text-light-white {
  color: #e5e5e5;
}

#myCarousel {
  margin-top: 50px;
}

.border-white-5px {
  border: 5px solid white;
}

#logo {
  border-radius: 20px;
  float: left;
  margin-right: 10px;
}

.icon-large {
  font-size: 2rem;
}

.image-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#favorites {
  margin-right: 20px;
}

#paragraph-text {
  color: white;
  text-align: center;
}

#overview {
  color: white;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

#header {
  color: white;
  text-align: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  display: flex;
  margin-bottom: 50px; 
}

.movie-item img {
  flex: 0 0 auto; 
  margin-right: 20px;
  margin-left: 40px;
}

.movie-details {
  flex: 1;
  max-width: 260px;
  text-align: left;
  color: whitesmoke;
}

.movie-details h3 {
  margin-top: 0;
  text-align: left;
  color: white;
}

.movie-details .overview {
  margin-top: 0px;
}

#favorite {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #21282b;
  border-radius: 20px;
  border-width: 20px;
  padding: 3px;
}

#username {
  text-align: left;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#noFaves {
  color: white;
  text-align: center !important;
}